body, html {
    height: 100%;
    margin: 0;
    background-color: white;
    color:#18191A;
  }
  
  .landing-page {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("DSCF5744.jpg"); */
    background-image: linear-gradient(rgba(239, 168, 176, 0.5), rgba(239, 168, 176, 0.5)), url("img/about_us_header.png");
    /* background-image: url("DSCF5744.jpg");*/
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  
  .landing-page-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Cormorant Garamond", serif;
    /* transition: .8s ease;
    opacity:0; */
  }

  .landing-page:hover .landing-page-text {
    opacity: 1;
  }


* {box-sizing: border-box;}

.header {
    overflow: hidden;
    padding: 5px 5px;
  }
  
.header a {
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 20px;
    border-radius: 50px;
    border-spacing: 10px;
    font-family: "Poppins", serif;
}
  
.header a.logo {
    font-size: 15px;
    font-weight: light;
}
  
.header a:hover {
    color:lemonchiffon;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}


/* div.gallery {
    border: 1px solid #ccc;
} */
  
div.gallery:hover {
    border: 1px solid #A89CC8;
    border-radius: 20%;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 12px;
    text-align: center;
}
  
* { box-sizing: border-box;}
  
.execboard {
    padding: 30px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .execboard {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .execboard {
      width: 100%;
    }
}

/* .aboutAWC h2{
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 80px;
}

.aboutAWC p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Poppins", serif;
}
*/

.exec-board {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: italic;
    /* color: #E4B7E5; */
}

.exec-board h2 {
    font-size: 25px;
}

.desc h5 {
    font-family: "Cormorant Garamond", serif;
    font-size: 27px;
    font-style: italic;
}

.desc h6 {
    color: #E4B7E5;
    font-size: 18px;
    font-family: "Poppins", serif;
}

.desc p {
    font-size: 15px;
    font-family: "Poppins", serif;
}


.column1 {
    float: left;
    width: 20%;
    padding: 40px;
    margin-left: 100px;
}

.column1 h2 {
    font-size: 80px;
    font-family: "Poppins", serif;
    color:#7b66b5;
}

.column2 {
    float: right;
    width: 65%;
    padding: 30px;
}

.column2 p {
    text-align: left;
    font-family: "Poppins", serif;
    color: #18191A;
    margin-left: 150px;
    font-size: 16.5px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    font-family: "Poppins", serif;
  }