body, html {
    height: 100%;
    margin: 0;
    background-color: white;
  }
  
  .landing-page {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("DSCF5744.jpg"); */
    background-image: linear-gradient(rgba(239, 168, 176, 0.5), rgba(239, 168, 176, 0.5)), url("img/event-header.jpg");
    /* background-image: url("DSCF5744.jpg");*/
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  
  .landing-page-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Cormorant Garamond", serif;
  }

  .landing-page:hover .landing-page-text {
    opacity: 1;
  }

  /* 
  .hero-image:hover {
    background-image: linear-gradient(rgba(239, 168, 176, 0.75), rgba(239, 168, 176, 0.75)), url("DSCF5744.jpg");
    transition: .10s ease;
    opacity: 1;
  }
*/

* {box-sizing: border-box;}

.header {
    overflow: hidden;
    padding: 5px 5px;
  }
  
.header a {
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 20px;
    border-radius: 50px;
    border-spacing: 10px;
    font-family: "Poppins", serif;
}
  
.header a.logo {
    font-size: 15px;
    font-weight: light;
}
  
.header a:hover {
    color:lemonchiffon;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}

/* links */
.membership {
  padding: 20px;
}

.membership h2 {
  /* color: #7A6BA0; */
  /* color: #EFA8B0; */
  color:#A89CC8;
  margin-left: 50px;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

.membership h6 {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 17px;
  font-family: "Poppins", serif;
  color:#18191A;
}

/* three equal columns that floats next to each other */
.link-column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
}

.link-column h2 {
  font-family: "Poppins", serif;
  font-size: 20px;
  color:#A89CC8;
}

.link-column p {
  margin-right: 35px;
  margin-left: 35px;
  font-family: "Poppins", serif;
  /* color: rgba(0, 0, 0, 0.5); */
  color:#18191A;
  font-size: 15px;
}

/* Clear floats after the columns */
.link-row:after {
  content: "";
  display: table;
  clear: both;
}


/* test */

.column1 {
  float: left;
  width: 20%;
  padding: 40px;
  margin-left: 100px;
}

.column1 h2 {
  font-size: 80px;
  font-family: "Poppins", serif;
  color:#7b66b5;
}

.column2 {
  float: right;
  width: 65%;
  padding: 30px;
}

.column2 p {
  text-align: left;
  font-family: "Poppins", serif;
  color: #18191A;
  margin-left: 150px;
  font-size: 16.5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: "Poppins", serif;
}