<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWC Casino Night</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
</head>
<body>
    <header><h1><strong><i><u>AWC Casino Night</u></i></strong></h1></header>
    <!-- have awc pic on this landing page -->
    <img src="/Images/casinoNightPic.jpg" alt="Picture of AWC Members from Casino Night 2022" width="1000px">
    <!-- have link to awc website towards bottom (maybe logo image and that can redirect to webpage) -->

    
    <br><br>

    <form action="">
        To register for casino night select <a href="/RSVPform">RSVP Form</a>
        <!-- <input type="submit" id="rsvp" value="RSVP Form"> -->
    </form>
    
    <br><br>
    <hr>

    <a href="https://awc-umd.github.io/"><strong>AWC Website</strong></a>    

</body>
</html>