<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header><h1><strong>Confirmation Page</strong></h1></header>
    <h4>
        Thank you <%-name%> for buying tickets for Casino Night 2023! Casino Night will take place 
        at Iribe on April 20th, 2023 at 5:30pm.
    </h4>
    <h5>Casino Night Agenda</h5>
    <ul style="list-style-type: none">
        <li>5:30pm-6:00pm: Mingling/Networking</li>
        <li>6:00pm: Gaming Begins</li>
        <li>8:45pm: Gaming Ends</li>
        <li>9:00pm: Prizes and Sponsor Speeches</li>
        <li>9:30pm: Doors Close</li>
    </ul>
    <img id = "qr" src = <%- url %> alt = "QRCode">
</body>
</html>